#Animation{
   display: absolute;
    white-space: nowrap;
    width: 52ch;
    animation: escribiendo 5s steps(52),parpadeo .3s infinite step-end alternate ;
    overflow: hidden;
    margin-left: 40%;
    align-items: center;
    
}
@keyframes escribiendo{
    from {width: 0%;}
}
@keyframes parpadeo{
    50%{border-color: transparent;}
}
